$fontFamily: "UnifrakturMaguntia", cursive;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333436;
}

.title {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

/* Game */
.game {
    font-family: $fontFamily;
}

/* Game Info */
.ul {
    padding-left: 30px;
}

.move-list {
    display: flex;
    list-style: none;
}

.game-info {
    margin-left: 20px;
}

.status {
    margin-bottom: 10px;
}